{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    Lorem ipsum dolor sit amet. Aut quam quos in harum enim cum deleniti autem sed culpa galisum qui error beatae nam
    fugiat sint et laboriosam neque. Rem nostrum enim et enim delectus et corporis voluptatum.

    Sed tempore libero et quia molestias sed ullam perspiciatis ut mollitia provident eum veritatis iure et voluptatem
    autem. Sit alias ducimus eum accusamus dolor rem facilis reiciendis aut tempora quia. Et voluptatem neque At dicta
    voluptatum aut nostrum itaque ea repellendus sunt qui culpa omnis.

    Sit ducimus mollitia 33 consequatur perspiciatis ex voluptatibus reiciendis! 33 consequatur omnis ut omnis
    voluptatem cum iusto vitae.
{% endblock %}