{% extends 'base.html' %}
{% load blog_tags %}
{% load humanize %}
{% block title %}
    Single Blogs
{% endblock %}

{% block content %}

    {% current_time "%Y-%m-%d %I:%M %p" as the_time %}
    <p>The time is {{ the_time }}.</p>

    <h2>{{ post.title }}</h2>
    <p> Created by:  <a href="{% url 'account:user-profile' post.author.id %}">{{ post.author.username }}</a></p>
    <img src="{{ post.image.url }}">
    <br>
    <small>Created Date: {{ post.created_date|naturaltime }}</small>
    <br>
    <small>Updated Date: {{ post.updated_date|naturaltime }}</small>
    <h6>Categories: </h6>
    <ul>
    {% for cat in post.category.all %}
        <li><a href="{% url 'blog:category' cat.name %}">{{ cat.name }}</a></li>
    {% endfor %}
    </ul>
    <hr>
    <p>{{ post.content }}</p>
    <p> number of Views: {{ post.counted_views }}</p>
{% endblock %}